.gitignore
*~
doc/*.html
doc/*.txt
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.brf
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.out
doc/*.pnr
doc/*.tex
doc/*.toc
doc/*.xml.bib
doc/*.css
doc/*.js
doc/*.lab
doc/*.pdf
doc/*.six
example/*.html
example/*.txt
example/*.aux
example/*.bbl
example/*.blg
example/*.brf
example/*.idx
example/*.ilg
example/*.ind
example/*.log
example/*.out
example/*.pnr
example/*.tex
example/*.toc
example/*.xml.bib
example/*.css
example/*.js
example/*.lab
example/*.pdf
example/*.six
3k+1/*.html
3k+1/*.txt
3k+1/*.aux
3k+1/*.bbl
3k+1/*.blg
3k+1/*.brf
3k+1/*.idx
3k+1/*.ilg
3k+1/*.ind
3k+1/*.log
3k+1/*.out
3k+1/*.pnr
3k+1/*.tex
3k+1/*.toc
3k+1/*.xml.bib
3k+1/*.css
3k+1/*.js
3k+1/*.lab
3k+1/*.pdf
3k+1/*.six
